<div class="container">

	<!-- TOPO -->
	<div class="row topo">
		<div class="col">
			<img class="logo" src="assets/imagens/logo.png" />
		</div>
	</div>

	<!-- MENU HORIZONTAL -->
	<div class="row menu-horizontal">
		<div class="col-12">

			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" href="#">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">PC Gamer</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">PC Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">PC Office</a>
				</li>
			</ul>

		</div>
	</div>

	<!-- MEIO -->
	<div class="row meio">

		<!-- MENU VERTICAL -->
		<div class="col-3 menu-vertical">


			<ul class="nav flex-column">
				<li class="nav-item item-info">
					Categoria
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Teclado e Mouse</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">SSD</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Cadeira Gamer</a>
				</li>
			</ul>

			<ul class="nav flex-column">
					<li class="nav-item item-info">
						Administrativo
					</li>
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['produto']">Produtos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Categorias</a>
					</li>
				</ul>

		</div>

		<!-- CONTEUDO -->
		<div class="col-9">

			<!-- start: page -->
			<router-outlet></router-outlet>
			<!-- end: page --> 

		</div>
	</div>

	<!-- RODAPE -->
	<div class="row">
		<div class="col rodape">
			<p> Aula Prog Web 2018/2 &#174; Direitos Reservados </p>
		</div>
	</div>

</div>